            *{
                margin: 0;
                padding: 0;
                -webkit-box-sizing:border-box;
                -moz-box-sizing:border-box;
                box-sizing: border-box;
                font-family: Arial, "Halvetica Neue", Helvetica, sans-serif;
            }
            body{
                background-color: #555;
            }
            .main{
                width: 500px;
                height: 140vh;
                background-color: #eee;
                margin: 20px auto;
                border-radius: 5px;
                border:5px solid #888;
                box-shadow: 0 0 10px #000;
            }
            header{
                width: 100%;
                padding: 10px;
                text-align: center;
                background: #2196F3;
                color: #fff;
                font-size: 25px;
                text-shadow: 1px 1px 2px #000;
            }
            #form-box{
                padding: 10px 25px 20px 25px;
            }
            .inp{
                font-size: 15px;
                width: 100%;
                padding: 12px 12px 12px 10px;
                border: none;
                box-shadow: 0 0 2px 1px #444;
            }
            .inp:focus{
                outline: none;
                box-shadow: 0 0 5px 1px #4169e1;
                color: #191970;
                font-weight: bold;
            }
            label{
                font-size: 18px;
                color: #191970;
            }
            .icon img{
                position: absolute;
                width: 45px;
                height: 41px;
                padding: 5px;
                background-color: #eee;
                border-right: 1px solid #888;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
            }
            .inp-row{
                margin: 5px 0 10px 0;
            }
            #ph{
                font-size: 15px;
                width: 15%;
                padding: 12px 12px 12px 10px;
                border: none;
                box-shadow: 0 0 2px 1px #444;
            }
            #num{
                font-size: 15px;
                width: 83%;
                padding: 12px 12px 12px 10px;
                border: none;
                box-shadow: 0 0 2px 1px #444;
            }
            #num:focus{
                outline: none;
                box-shadow: 0 0 5px 1px #4169e1;
                color: #191970;
                font-weight: bold;
            }
            .sub-btn{
                width: 100%;
                padding: 10px;
                margin: 5px 0 5px 0;
                font-size: 18px;
                background: #2196F3;
                cursor: pointer;
                color: #fff;
                border: none;
                border-radius: 5px;
            }
            .sub-btn:hover{
                opacity: 0.8;
                border-radius: 10px;
            }
            .sub-btn:focus{
                outline: none;
            }
            @media(max-width:320px){
                .main{
                height: 90vh;
                }
            }
            @media (max-width:720px){
                .main{
                    width: 65vw;
                    height: 135vh;
                }
            }
            @media (max-width:530px){
                .main{
                    width: 70vw;
                    height: 135vh;
                }
            }